main {
  margin: 50px auto;
  width: clamp(200px, 500px, 90%);
}

.time {
  color: #666;
  display: block;
  margin: 10px 0 20px;
}

.content {
  margin: 24px 0;
  font-size: 16px;
}

.content pre {
  font-family: inherit;
  white-space: pre-wrap;
  line-height: 2;
  font-size: 1.2em;
}

.comment {
  font-size: 14px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.comment div {
  font-weight: bold;
  margin-bottom: 10px;
}

.comment p {
  margin: 1em 0;
  text-align: justify;
}